extends layout
block content
	h1 #{title}
	if city !== undefined
		form.form(role="form" action="../edit", method="POST")
			input(type="hidden" name="_id" value= city._id)
			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="name") Name:
				div.col-sm-6
					input.form-control(placeholder="City Name", name="name", id="name", required="true" value=city.name)
			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="parent") Parent (country or region):
				div.col-sm-6
					input.form-control(placeholder="City Parent", name="parent", id="parent", required="true" value=city.parent)

			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="description") Description:
				div.col-sm-6
					textarea.form-control(placeholder="City Description", name="description", id="description" value=city.description)

			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="google_id") Google ID:
				div.col-sm-6
					input.form-control(placeholder="Google ID", name="google_id", id="google_id" value=city.googleId)

			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="latitude") Location:
				div.col-sm-6
					div.col-sm-6
						input.form-control(placeholder="City Latitude", name="latitude", id="latitude", required="true" value=city.location.lat)
					div.col-sm-6
						input.form-control(placeholder="City Longitude", name="longitude", id="longitude", required="true" value=city.location.lng)

			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="reference") Photo:
				div.col-sm-6
					div.col-sm-6
						input.form-control(placeholder="Photo reference", name="photo_reference", id="photo_reference", required="true" value=city.photo.reference)
					div.col-sm-6
						input.form-control(placeholder="Photo width", name="photo_width", id="photo_width", required="true" value=city.photo.width)

			div.form-group(class="col-sm-offset-2 col-sm-6")
				div.pull-right
					button.btn(type="submit" class="btn-danger") Edit City
	else
		form.form(role="form" action="create", method="POST")
			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="name") Name:
				div.col-sm-6
					input.form-control(placeholder="City Name", name="name", id="name", required="true" value=city.name)

			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="parent") Parent (country or region):
				div.col-sm-6
					input.form-control(placeholder="City Parent", name="parent", id="parent", required="true")

			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="description") Description:
				div.col-sm-6
					textarea.form-control(placeholder="City Description", name="description", id="description")

			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="google_id") Google ID:
				div.col-sm-6
					input.form-control(placeholder="Google ID", name="google_id", id="google_id")

			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="latitude") Location:
				div.col-sm-6
					div.col-sm-6
						input.form-control(placeholder="City Latitude", name="latitude", id="latitude", required="true")
					div.col-sm-6
						input.form-control(placeholder="City Longitude", name="longitude", id="longitude", required="true")

			div.form-group.col-sm-12
				div.col-sm-offset-1(class="col-sm-2")
					label(for="reference") Photo:
				div.col-sm-6
					div.col-sm-6
						input.form-control(placeholder="Photo reference", name="photo_reference", id="photo_reference", required="true")
					div.col-sm-6
						input.form-control(placeholder="Photo width", name="photo_width", id="photo_width", required="true")

			div.form-group(class="col-sm-offset-2 col-sm-6")
				div.pull-right
					button.btn(type="submit" class="btn-danger") Add City