extends layout
block content
	h1 #{title}
	a(href='cities/create', class="btn btn-primary") Crear Nueva
	table.table(class='')
		thead
			tr
				th #
				th Nombre
				th Ubicacion
				th Fecha
				th Google ID
				th Acciones
		tbody
			each city, i in cities
				tr
					td #{i+1}
					td #{city.name}
					td #{city.location.lat},#{city.location.lng}
					td #{city.createdAt}
					td #{city.googleId}
					td
						a(href="/api/site/admin/cities/edit/" + city._id) Editar
						br
						a(href="/api/site/admin/cities/remove/" + city._id)  Eliminar
						br
						a(href="/api/site/admin/tours/create/" + city._id) Crear Tour

	
	form.form(action='/api/site/admin/cities/fromgoogle' class="form-inline" method="POST")
		div.form-group
			input.form-control(type="text" placeholder="Google Place ID" id="google_id" name="google_id" required)
		div.form-group
			input.form-control(type="text" placeholder="Ubicacion (pais o region)" id="parent" name="parent" required)
		button(type="submit" class="btn btn-danger") Agregar desde Google
