extends layout
block content
	h1 #{title}
	br
	a.btn.btn-danger(href="/api/site/admin/countries/create") Crear Nuevo
	br
	br
	table.table(class='table-hover')
		thead
			tr
				th #
				th Nombre
				th Ubicacion
				th Fecha
				th Google ID
				th Acciones
		tbody
			each country, i in countries
				tr
					td #{i+1}
					td #{country.name}
					td #{country.location.lat},#{country.location.lng}
					td #{country.createdAt}
					td #{country.googleId}
					td
						a(href="/api/site/admin/countries/edit/" + country._id) Editar
						br
						a(href="/api/site/admin/countries/remove/" + country._id)  Eliminar

	
