extends layout
block content
	h1 #{title}
	a(href='places/create', class="btn btn-danger") Importar desde Google
	a(href='places/search', class="btn btn-info") Buscar desde Google
	br
	table.table(class='')
		thead
			tr
				th #
				th Nombre
				th Ciudad
				th Ubicacion
				th Categoria
				th Fecha
				th Google ID
				th Acciones
		tbody
			each place, i in places
				tr
					td #{i+1}
					td #{place.name}
					if place.city !== undefined
						td #{place.city.name}
					else
						td none
					td #{place.location.lat},#{place.location.lng}
					td #{place.types}
					td #{place.createdAt}
					td #{place.googleId}
					td
						a(href="places/edit/" + place._id) Editar
						br
						a(href="places/remove/" + place._id)  Borrar
