extends layout
block content
	h1 #{title}
	a(href='regions/create', class="btn btn-primary") Crear Nuevo
	table.table(class='')
		thead
			tr
				th #
				th Nombre
				th Pais
				th Fecha
				th Acciones
		tbody
			each region, i in regions
				tr
					td #{i+1}
					td #{region.name}
					if region.country !== undefined
						td #{region.country.name}
					else
						td
					td #{region.createdAt}
					td
						a(href="/api/site/admin/regions/edit/" + region._id) Editar
						br
						a(href="/api/site/admin/regions/remove/" + region._id)  Eliminar
						br
						a(href="/api/site/admin/tours/create/" + region._id) Crear Tour
