extends layout
block content
	h1 #{title}
	table.table(class='')
		thead
			tr
				th #
				th Name
				th Total time
				th Total distance
				th Parent
		tbody
			each tour, i in tours
				tr
					td #{i+1}
					td= tour.name
					td= tour.totalTime
					td= tour.totalDistance
					td= tour.parent
