extends layout
block content
	h1 #{title}
	table.table(class='')
		thead
			tr
				th #
				th Nombre
				th Tiempo
				th Distancia
				th Origen
				th Lugares
				th Accion
				
		tbody
			each tour, i in tours
				tr
					td #{i+1}
					td= tour.name
					td= tour.totalTime
					td= tour.totalDistance
					if tour.city
						td= tour.city.name
					if tour.region
						td= tour.region.name
					td= tour.places.length
					td
						if tour.city
							a(href="/api/site/admin/tours/edit/cities/" + tour._id) Editar
						if tour.region
							a(href="/api/site/admin/tours/edit/regions/" + tour._id) Editar
						br
						a(href="/api/site/admin/tours/remove/" + tour._id)  Eliminar
